.idea
ZaylandShop.ProductCatalog/obj
ZaylandShop.ProductCatalog.Controllers/obj
ZaylandShop.ProductCatalog.Storage/obj
ZaylandShop.ProductCatalog.Web/obj
obj
ZaylandShop.ProductCatalog/bin
ZaylandShop.ProductCatalog.Controllers/bin
ZaylandShop.ProductCatalog.Storage/bin
ZaylandShop.ProductCatalog.Web/bin
ZaylandShop.ProductCatalog.Integration.Test/bin
ZaylandShop.ProductCatalog.Utils/bin
ZaylandShop.ProductCatalog.Web/Logs
ZaylandShop.ProductCatalog.Contracts/bin
